# ignore these Windows-related files
desktop.ini
*.exe

# ignore these vi-related files
*.swp

# ignore these Java-related files
*.class

# ignore these folders
sandbox

# ignore these Eclipse-related files

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
